<!-- WRAPPER -->
<div class="wrapper">

<section class="module-sm bg-white-dark">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-center">

          <h3 class="montserrat text-uppercase m-b-10">Mon profil</h3>
          <ol class="breadcrumb text-xs">
        </div>
      </div>

    </div>
</section>

<% if @profile.profile_type == 'artist' %>

  <!-- HERO -->
  <section id="hero" class="module-hero bg-black-alfa-40 color-white parallax" data-background=<%= @profile.universe_picture %> >

    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">

        <div class="container">

          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="text-uppercase text-xl montserrat m-b-15"><%= @profile.universe_name %></h1>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END HERO TEXT -->
  </section>
  <!-- END HERO -->
<% end %>

<section class="module-sm divider-bottom">
      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <%= cl_image_tag @profile.picture %>
              <div class="team-social">
                <div>
                  <div>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
                </div>
              </div>            
          </div>

          <div class="col-sm-5">
            <div class="product-description m-b-30">
              <h2 class="m-b-5"><%= @profile %></h2>
            </div>
            <hr class="m-t-30 m-b-30">

            <div class="row">
              <div class="col-sm-3">
                <p><strong>Birthday:</strong></p>   
              </div>
              <div class="col-sm-9">
                <p><%= l(@profile.birth_date) if @profile.birth_date %></p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p><strong>Address:</strong></p>   
              </div>
              <div class="col-sm-9">
                <p><%= @profile.address %></p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p><strong>City:</strong></p>   
              </div>
              <div class="col-sm-9">
                <p><%= @profile.city %></p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p><strong>Country:</strong></p>   
              </div>
              <div class="col-sm-9">
                <p><%= @profile.country %></p>
              </div>
            </div>  
            <hr class="m-t-30 m-b-30">          
            <div class="row">
              <div class="col-sm-12" style="text-align: center">
                <a href="/#universes" class="btn btn-sm btn-circle btn-dark">Discover more art</a>
              </div>
            </div><!-- .row -->            
           </div>
            <!-- END PRODUCT FORM -->
        </div><!-- .row -->
      </div>
    </section>

  <!-- TEAM -->
  <section class="module">
    <div class="container">
      <div class="row">
        <% if @profile.profile_type == 'artist' %>

        <!-- BIOGRAPHY -->
        <div class="col-sm-12 ">
            <h1>About me</h1>
            <p><%= @profile.biography %></p>
        </div>
        <!-- END BIOGRAPHY -->

        <% end %>

      </div>
    </div><!-- .row -->
  </section>
  
  <% if @profile.profile_type == 'artist' %>
    <%= render "shared/all-products" %>
  <% end %>
</div>
