<!-- HEADER -->
<header class="header home header-fixed header-transparent">

    <!-- MAIN MENU -->
    <nav id="custom-collapse" class="main-nav collapse clearfix">
      <ul class="inner-nav pull-right">

        <!-- HOME -->
        <li class="has-submenu">
          <a href="/">Home</a>
        </li>
        <!-- END FEATURES -->
        <!-- SHORTCODES: MEGA MENU -->

        <li class="has-submenu">
          <% if current_user %>
            <!-- USER MENU -->
            <li class="has-submenu">
              <a href="#"><%= current_user.profile.navbar_id %></a>
              <ul class="submenu">
                <% if current_user%>
                  <li><%= link_to "Your Profile", profiles_path %></li>
                  <li><%= link_to "My informations", edit_profiles_path %></li>
                <% end %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
              </ul>
            </li>
          <!-- END USER MENU -->
          <% else %>
            <li class="has-submenu">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li class="has-submenu">
              <%= link_to "Log in", new_user_session_path %>
            </li>
        <% end %>
            <li class="has-submenu">
              <a href="#about_us">About us</a>
            </li>
        </li>

        <!-- END SHORTCODES: MEGA MENU -->
        <!-- User logged?<--></-->
        <!-- Notification link-->
        <!-- Button (Sign up / log in/out) -->
        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-kingdom-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-kingdom-dropdown-menu">
              <li><a href="#">Some mobile link</a></li>
              <li><a href="#">Other one</a></li>
              <li><a href="#">Other one</a></li>
            </ul>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>
<!-- END HEADER -->
