  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- END PRELOADER -->

<div class="wrapper">

  <!-- PAGE TITLE -->
  <section class="module-sm bg-white-dark">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-center">

          <h3 class="montserrat text-uppercase m-b-10">order process</h3>

        </div>
      </div>

    </div>
  </section>
  <!-- END PAGE TITLE -->

  <!-- LOGIN -->
  <section class="module">
    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <h4 class="text-center m-b-30">Complete and send your offer</h4>

          <%= form_for([@order.artist.profile, @order], url: profile_order_path(@order.artist.profile, @order)) do |f| %>

            <div class="col-md-12 form-group">
              <%= f.label 'Status' %>
              <%= f.text_field :status, autofocus: true, :class => "form-control input-lg" %>
            </div>

            <div class="col-md-6 form-group">
              <%= f.label 'Offer title' %>
              <%= f.text_field :offer_title, autofocus: true, :class => "form-control input-lg" %>
            </div>

            <div class="col-md-6 form-group">
              <%= f.label 'Price' %>
              <%= f.number_field :offer_price, autofocus: true, :class => "form-control input-lg" %>
            </div>

            <div class="col-md-12 form-group">
              <%= f.label 'Offer body' %>
              <%= f.text_area :offer_body, autofocus: true, :class => "form-control input-lg" , cols: '10', rows: '10' %>
            </div>


            <div class="form-group">
              <button class="btn btn-block btn-round btn-base">Update</button>
            </div>
          <% end %>

        </div>
      </div><!-- .row -->

    </div>
  </section>
  <!-- END LOGIN -->
</div>
