  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- END PRELOADER -->

<div class="wrapper">

  <!-- PAGE TITLE -->
  <section class="module-sm bg-white-dark">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-center">

          <h3 class="montserrat text-uppercase m-b-10">Interested by this product?</h3>

        </div>
      </div>

    </div>
  </section>
  <!-- END PAGE TITLE -->

  <!-- LOGIN -->
  <section class="module">
    <div class="container">

      <div class="col-sm-3 sidebar">
        <!-- ARTIST WIDGET -->
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Artist</h6>
            <p><%= cl_image_tag @artist_profile.picture, width: 250, crop: "scale" %></p>
            <p><%= @artist_profile.firstname + ' '+ @artist_profile.lastname%></p>
            <p><%= @artist_profile.birth_date %></p>
        </div>
        <!-- END ARTIST WIDGET -->

        <!-- EMAIL WIDGET -->
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">Email</h6>
            <p><%= @artist_profile.user.email %></p>
        </div>
        <!-- END EMAIL WIDGET -->

        <!-- ABOUT ME WIDGET -->
        <div class="widget">
          <h6 class="montserrat text-uppercase bottom-line">About me</h6>
            <p><%= @artist_profile.biography %></p>
        </div>
        <!-- END ABOUT ME WIDGET -->
      </div>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-8 page-content">

          <h4 class="text-center m-b-30">Your great and unique choice!</h4>
          <div>
            <h2 class="m-b-5" ><%= @order.product.name %></h2>
          </div>
          <div class="m-b-30">
            <h2 class="montserrat"><%= humanized_money_with_symbol(@order.amount) %></h2>
          </div>

          <%= form_for(@order) do |f| %>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Product"
            data-email="<%= current_user.email %>"
            data-description="Product <%= @order.product_sku %>"
            data-amount="<%= @order.amount_cents %>"
            data-currency="<%= @order.amount.currency %>"></script>

              <%= f.hidden_field(:user, class: "form-control input-lg") %>
              <%= f.hidden_field(:artist, class: "form-control input-lg") %>
              <%= f.hidden_field(:product, class: "form-control input-lg") %>
              <%= f.hidden_field(:product_id, class: "form-control input-lg") %>
              <%= f.hidden_field(:status, class: "form-control input-lg") %>
              <%= f.hidden_field(:product_sku, class: "form-control input-lg") %>
              <%= f.hidden_field(:amount_cents, class: "form-control input-lg") %>

          <% end %>

          <div class="col-sm-12">
            </br>
            <h5 class="montserrat text-uppercase bottom-line">Picture</h5>
          </div>
          <div class="col-sm-12 team-photo">
            <%= cl_image_tag @order.product.picture, width: 250, crop: "scale" %>
          </div>
          <div class="col-sm-12">
            </br>
            </br>
            </br>
            <h5 class="montserrat text-uppercase bottom-line">Description</h5>
          </div>
          <p><%= @order.product.description %></p>

        </div>
      </div><!-- .row -->

    </div>
  </section>
  <!-- END LOGIN -->
</div>
