  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- END PRELOADER -->


  <!-- WRAPPER -->
  <div class="wrapper">

    <!-- HERO -->
    <section id="hero" class="module-hero bg-black-alfa-30 color-white fullheight parallax" data-background="http://res.cloudinary.com/alxla/image/upload/v1488983913/content/STHU9365.jpg">
      <!-- HERO TEXT -->
      <div class="hero-caption">
        <div class="hero-text">

          <div class="container">

            <div class="row">
              <div class="col-sm-12 text-center">
                <h1 class="montserrat text-uppercase text-super-xl">Kingdom of Art</h1>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- END HERO TEXT -->
    </section>
    <!-- END HERO -->

  </div>


  <!-- END WRAPPER -->

    <!-- PORTFOLIO -->
    <section class="module-xs p-b-0">

      <div class="works-grid-wrapper">

        <!-- WORKS GRID -->
        <div id="works-grid" class="works-grid works-grid-masonry works-grid-gutter works-grid-4">

          <!-- PORTFOLIO ITEM -->
          <article class="work-item brand">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Mega Menu</h6>
                  <span class="work-category">Brand</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item motion">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Responsive Design</h6>
                  <span class="work-category">Motion</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item printing">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Reusable Elements</h6>
                  <span class="work-category">Printing</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item design">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Awesome Parallax</h6>
                  <span class="work-category">Design</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item brand">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Google Web Fonts</h6>
                  <span class="work-category">Brand</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item motion">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Multiple Colour Schemes</h6>
                  <span class="work-category">Motion</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item printing">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Twitter Feed</h6>
                  <span class="work-category">Printing</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

          <!-- PORTFOLIO ITEM -->
          <article class="work-item design">
            <div class="work-wrapper">
              <%= cl_image_tag "http://lorempixel.com/800/800/" %>
              <div class="work-overlay">
                <div class="work-caption">
                  <h6 class="work-title">Lightbox Gallery</h6>
                  <span class="work-category">Design</span>
                </div>
              </div>
              <a href="portfolio-single-1.html" class="work-link"></a>
            </div>
          </article>
          <!-- END PORTFOLIO ITEM -->

        </div>
        <!-- END WORKS GRID -->

      </div>

    </section>
    <!-- END PORTFOLIO -->
