<% content_for :title_tag do %>
  <title>Sign In</title>
<% end %>

  <!-- PRELOADER -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>
  <!-- END PRELOADER -->

<div class="wrapper">

  <!-- PAGE TITLE -->
  <section class="module-sm bg-white-dark">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-center">

          <h3 class="montserrat text-uppercase m-b-10">Login</h3>

        </div>
      </div>

    </div>
  </section>
  <!-- END PAGE TITLE -->

  <!-- LOGIN -->
  <section class="module">
    <div class="container">

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">

          <h4 class="text-center m-b-30">Sign Into Your Account</h4>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-group">
              <label class="sr-only">Email</label>
              <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control input-lg" %>
            </div>

            <div class="form-group">
              <label class="sr-only">Password</label>
              <%= f.password_field :password, autocomplete: "off", :type => "password", :placeholder => "Password", :class => "form-control input-lg" %>
            </div>

            <div class="form-group">
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
            </div>

            <div class="form-group">
              <button class="btn btn-block btn-round btn-base">Login</button>
            </div>

            <%= render "devise/shared/links" %>

          <% end %>

        </div>
      </div><!-- .row -->

    </div>
  </section>
  <!-- END LOGIN -->
</div>
